html,body
{
    background-color: white;
    height: 100%;
    margin: 0;

}

#main_container
{
    background-color: white;
    width:100%;
    min-height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: -50px;
}

#top
{
    width:75%;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;

}

#logo
{
    margin-left:30px;
    margin-top:10px;
    width:200px;
    height:100px;


}

#search
{
    width:350px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.search-div
{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-div input
{
    border: 1px solid #333;
    border-radius:5px;
    height:30px;
}

.search-div button
{
    background-color: #0C68F1;
    border: 1px solid #333;
    border-radius:5px;
    margin-left: -10px;
    height:30px;

}





.properties
{
    display:inline-flex;
    float:right;
    
    margin-left:auto;
}

.shopping-cart
{
    width:120px;
    height:40px;
    margin:auto;
    display:inline-flex;
    font-size:15px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#login
{
    width:120px;
    height:40px;
    margin:auto;
    margin-right: 30px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
}
#login:hover
{
    border-radius: 0.2em;
    border: 1px solid #0C68F1;
}

nav
{
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #0C68F1;
    text-align: center;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    color:white;
    background-color: #3e45f1;}

nav ul li.right {float: right;}

@media screen and (max-width: 600px) {
    nav ul li.right,
    nav ul li {float: none;}
}



.items
{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.col-md-3
{
    font-weight: bold;
    font-size:15px;
}

.paragraph
{
    border: 1px solid #333;
    border-radius:5px;
    margin-bottom: -40px;
    text-align: center;
    font-size: 30px;

}


.linkref{
    outline: none;
    border:none;
    background-color: red;

}

.card_shadow
{
    border: 1px solid #333;
    background-color: #f1f1f1;
    border-radius:5px;
    padding: 16px;
    height:400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.cart
{
    margin-bottom:0px;
    margin-top:auto;
}

.cart
{
    height:35px;
    width:100%;
    background: none;
    border: 1px solid #0C68F1;
    border-radius:5px;
}

.card_shadow h4
{
    margin-bottom: 20px;

}

.cart:hover
{
    background-color: #0C68F1;
    color:white;
}

.card_shadow img
{
    height:220px;
}

.container
{
    width:75%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    padding:50px;
   
    border-radius:5px;
    margin-bottom: 10px;
}

.item
{
    padding:50px;
    border: 1px solid #0C68F1;
    border-radius:5px;
}

.row img:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-details
{
    height : 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}



.btn-primary
{
    margin-bottom:0px;
    margin-top:auto;
    height:35px;
    width:100%;
    border: 1px solid #0C68F1;
    border-radius:5px; 
}

.wrapper
{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-bottom: 15px;
    border-radius: 5px;

}

.wrapper img
{
    height:350px;
    border-radius: 10px;
}

.page-footer
{
    background-color: #0C68F1;
    color:white;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.empty-b
{
    display: flex;
     justify-content: center;
    align-items: center;
    height:90%;
    text-align: center;
}

.btn-custom
{
    background-color:#0C68F1 ;
    width:300px;
}

.center
{
    margin:auto;
    
    
}

.user-info
{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #0C68F1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;

}

.user-txt
{
    font-size: 20px;
}


.checkout-container
{
    width:75%;
    
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #0C68F1;
    border-radius:5px;
    margin-bottom: 10px;
    
}

.crazy-margin
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.collapsible {
    background-color: #0C68F1;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #0C68F1;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  .box {
    background: #0C68F1;
    border-radius: 0px 4px 4px 0px;
    left: -254px;
    z-index:999;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 100px;
    transition: transform 0.4s;
    width: 250px;
}

.box:hover {
    transform: translateX(254px);
}

.box .box__content {
    background: white;
    min-height: 600px;
    padding: 10px;
    position: relative;
}

.box .box__title {
    background: #0C68F1;
    border: solid #0C68F1;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
}

#hideinput
{
    display:none;
}

.no-results
{
    width:97%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-radius:5px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
